<html>
    <head>
      {% if title %}
      <title>{{ title }} - Project: Streetview</title>
      {% else %}
      <title>Welcome to Project: Streetview</title>
      {% endif %}
    </head>
    <body>
        <div>Project Streetview:
        <a href="/index">Home</a>
        <a href="/login">Login</a>
        <a href="/sites">Sites</a>
        <a href="/contact">Contact</a>
        <a href="/upload">Uploads</a>
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>
