{% extends "base.html" %}
{% block content %}
<html>
   <body>
      <h2 style = "text-align: center;">Disaster Form</h2>

      {% for message in form.name.errors %}
         <div>{{ message }}</div>
      {% endfor %}

      {% for message in form.email.errors %}
         <div>{{ message }}</div>
      {% endfor %}

      <form action = "http://localhost:5000/contact" method = post>
         <fieldset>
            <!-- <legend>Disaster Form</legend> -->
            {{ form.hidden_tag() }}

            <div style = font-size:20px; font-weight:bold; margin-left:150px;>
               <p class="tab"> {{ form.name.label }}<br>
               {{ form.name }}</p>
               <br>
              <p class="tab"> {{ form.Address.label }}<br>
               {{ form.Address }}<br>
               {{ form.State.label }}<br>
               {{ form.State }}<br>
               {{ form.Zip_Code.label }}<br>
               {{ form.Zip_Code }}</p><br>
               <br>
               <p class="tab"> {{ form.Flood_Plain.label }} {{ form.Flood_Plain }}</p><br>

               <p class="tab"> {{ form.Flood_NonFlood.label }}<br>
              {{ form.Flood_NonFlood }}</p><br>
              <br>
               <p class="tab">{{ form.Homes.label }} {{ form.Homes }}</p><br>

               <p class="tab">{{ form.Insurance.label }} {{ form.Insurance }}</p><br>
               <p class="tab">{{ form.Flood_Insurance.label }} {{ form.Flood_Insurance }}</p><br>

               <p class="tab">{{ form.Damage_Level.label }}<br>
               {{ form.Damage_Level}}<br>
               <br>
               {{ form.email.label }}<br>
               {{ form.email }}</p>
               <br>
               <br>
               <br>
               <p class="tab">{{ form.submit }} </p>
            </div>

         </fieldset>
      </form>
   </body>
</html>
{% endblock %}
